/* Webflow 초기 로딩 숨김 */
html.w-mod-js:not(.w-mod-ix3) :is(.heading-style-h2.is-center,
  .text-size-large.cs,
  .icn-open,
  .text-size-regular.is-white,
  .section-preload.u--rel,
  .section-hero.u--rel,
  .heading-style-h1,
  .heading-style-h4.is-black.heading-animated-word,
  .btn-animate-chars__text.heading-style-h4.is-black,
  .btn-animate-chars.social,
  .heading-animated) {
  visibility: hidden !important;
}

