

#menuPanel {
  flex: 0 0 70rem !important;
  min-width: 70rem !important;
  width: 70rem !important;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    width: 4rem;
    height: 90%;
    position: absolute;
    right: 0;
    border-right: 1px solid #e43c13;
    background-color: #ece9e1;
    .logo {
      position: relative;
      width: 100%;
      a {
        display: block;
        height: 10rem;
        img {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    .draw-title{
      width: 200px;
      height: auto;
      aspect-ratio: 2 / 1; 
      display: block;
      text {
        stroke: #333;
        stroke-width: 5;
        fill: none;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        font-size: 15rem;
        &.animate {
          animation: drawText 2.5s ease-out forwards;
          stroke: #333;
        }
      }
    }
  }
  .menu-panel {
    &__header {
      position: absolute;
      top: 0;
      width: 80%;
      height: 70rem;
      transition: opacity 0.3s ease;
      background: #ccc;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__list {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      display: flex;
      flex-direction: row;
      gap: 40px;
      font-size: 2.5rem;
      font-family: inherit;
      color: inherit;
      line-height: inherit;
      transition: transform 0.3s ease;
      li {
        a {
          // color: #332B24;
          color: #e43c13;
          font-size: 2rem;
          font-weight: 600;
          &:hover {
            color: #002867;
          }
        }
      }
    }
  }
}

.menu-panel__list--clone {
  position: fixed;
  top: 0;
  width: 8rem;
  height: 100%;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 4rem;
  padding: 4.8rem 0 4.8rem;
  opacity: 0;
  font-size: 2rem;
  font-weight: 600;
  background-color: #e43c13;
  border-left: 1px solid #e43c13;
  transition: transform 0.3s ease;
  color: #fff;
}

/*breakpoint*/
@media (min-width:320px) and (max-width:768px) {
  #main {
    nav {
      height: 100%!important;
      .logo a {
        height: unset!important;
        img {
          position: unset!important;
        }
      }
    }
    .menu-panel {
      &__header {
        position: relative!important;
      }
      &__list {
        &--clone {
          display: none;
        }
      }
    }
  }
}