@import url("https://fonts.cdnfonts.com/css/thegoodmonolith");
@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

// Intro
:root {
  --colour--white: white;
  --font-primary: Geist, Arial, sans-serif;
  --colour--secondary: #ff472b;
  --sub-heading\<deleted\|variable-34814dfb-3b1e-1a07-2210-b3e2ca7b9b9f\>: Geist, Arial, sans-serif;
  --heading-03\<deleted\|variable-d5175ec0-1228-744e-0302-334399342048\>: 2.618rem;
  --font-secondary: mencken-std-head, sans-serif;
  --heading-04\<deleted\|variable-cf1dfe88-ecc4-8e00-3314-ca9481ad0e65\>: 1.618rem;
  --body-size\<deleted\|variable-23e6a7ac-032e-e748-9f23-6003afb83a7e\>: 1rem;
  --colour--black: black;
  --colour--yellow\<deleted\|variable-c19ba8e2\>: #e1f210;
  --colour--white-40: #fff6;
  --card-background: #1f1f1f;
  --colour--black-60: #0009;
  --colour--button-colour\<deleted\|variable-ccd376b6-c915-39b7-d05f-02c3e86f3baa\>: var(--colour--secondary);
  --colour--color\<deleted\|variable-3fea4133-ecd7-a261-ee2d-7671fd0da777\>: white;
  --colour--black-40: #0006;
  --colour--white-60: #fff9;
}